.img_logo {
  height: 100px;
  transition: 500ms;
  /*transition: 500ms;
  position: absolute; 
  margin-left: 1rem;*/
}

.navbar-brand {
  display: contents;
  border-radius: 15px;
}

.img_home {
  max-height: 580px;
}

#carouselThree {
  background: #797c77 url(src/assets/images/fondo_rifa.png) repeat top left;
}

.p_text {
  font-size: 20px;
}

i {
  color: #0098d9;
}

.logo_grid {
  align-content: center;
  justify-items: center;
  display: grid;
}

@media (max-width: 800px) {
  .img_logo {
    padding: 0.5rem;
    transition: 500ms;
  }

  .sticky .img_logo {
    padding: 0.5rem;
    transition: 500ms;
  }

  /* .team-style-eleven .team-image img {
    height: 300px;
    object-fit: contain;
  } */
}

.footer-logo img {
  height: 100px;
}
