.img_logo {
  height: 100px;
  transition: 500ms;
  position: absolute;
  margin-left: 1rem;
}

.navbar-brand {
  display: contents;
  border-radius: 15px;
}

.img_home {
  max-height: 580px;
}

.p_text {
  font-size: 20px;
}

i {
  color: #0098d9;
}

@media (max-width: 800px) {
  .img_logo {
    height: 40px;
  }

  .sticky .img_logo {
    height: 40px;
    transition: 500ms;
  }

  .team-style-eleven .team-image img {
    height: 300px;
    object-fit: contain;
  }
}

.footer-logo img {
  height: 100px;
}